doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io - Coworking in Riverside
  meta(name='description', content="Riverside.io is a group of people actively coworking together in Riverside.")
  meta(name='keywords', content="Coworking, Riverside, Co-working, co-working, Riverside.io, learn to code, events, coworking events, startupie, riversidejs, riverside.js, startup_ie, downtown Riverside, scarfs")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css", rel="stylesheet")
  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css", rel="stylesheet")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext", rel="stylesheet")

  // Le Styles 
  != css('application')
  // Le Experiments
  - if(ENV === 'production'){
  script 
    function utmx_section(){}function utmx(){}(function(){var
    k='66422119-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
  - }

  
body
  block header
  block sign-up
  block content
  .list-item.footer
    .container
      .row
        .span12.center
          p Riverside.io 2012
  .notification
    span &nsbp;

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  //Le Scripts
  != js('main')
  - if(ENV === 'production'){
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36543871-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  - }
