!!! 5
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  title Riverside.io - A coworking space in Riverside.
  //- Le Styles
  != css('layout2')
  //- Le JavaScript
  != js('layout2')

  // Le Experiments
  - if(ENV === 'production'){
  script 
    function utmx_section(){}function utmx(){}(function(){var
    k='66422119-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
  - }
body
  block content

  - if(ENV === 'production'){
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36543871-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  - }
